* {
	margin: 0;
	padding: 0;
}
header {
	height: 200px;
	width:100%;
}

.top-header {
	height: 50%;
	width: 100%;
	background-color: yellow;
}

.top-header h2 {
	padding-top: 40px;
	text-align: center;
	text-transform: bold;
}